# host variables
TORRENTS=/path/to/complete/folder
SETTINGS=/path/to/store/transmission/settings/and/intermediate/results
RPC_PORT=9091
PEER_PORT=51413

# change it to change container name
CONTAINER_NAME=transmission

# Makefile required
VOLUMES=\
  -v $(TORRENTS):/root/Downloads \
  -v $(SETTINGS):/etc/transmission
PORTS=\
  -p $(RPC_PORT):$(RPC_PORT) \
  -p $(PEER_PORT):$(PEER_PORT)/tcp \
  -p $(PEER_PORT):$(PEER_PORT)/udp
